
$bg-color:rgb(182, 245, 245);
$color:red;
$color-hover:rgb(184, 135, 135);
$font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$letter-spacing:0.3rem;